{% load i18n l10n %}

<div id="{{ id }}_div_map" class="dj_map_wrapper">
  {# RemovedInDjango51Warning: when the deprecation ends, remove data-width and data-height attributes. #}
  <div id="{{ id }}_map" class="dj_map" data-width="{{ map_width }}" data-height="{{ map_height }}"></div>

  {% if not disabled %}
    <div class="d-flex mt-2">
      <button id="{{ id }}_clear" type="button" class="btn btn-danger mr-2">{% translate "Delete all Features" %}</button>
      <label for="{{ id }}_klm" class="btn btn-default">{% translate 'Charger un fichier KML contenant un MultiPolygon' %}</label>
      <input type="file" id="{{ id }}_klm" class="sr-only">
    </div>
  {% endif %}

  {% if display_raw %}<p>{% translate "Debugging window (serialized value)" %}</p>{% endif %}
  <textarea id="{{ id }}" class="vSerializedField required" cols="150" rows="10" name="{{ name }}"
            {% if not display_raw %} hidden{% endif %}>{{ serialized }}</textarea>

  <script>
    {% block base_layer %}
      var base_layer = new ol.layer.Tile({source: new ol.source.OSM()});
    {% endblock %}

    {% block options %}
      var options = {
        base_layer: base_layer,
        geom_name: '{{ geom_type }}',
        id: '{{ id }}',
        map_id: '{{ id }}_map',
        map_srid: {{ map_srid|unlocalize }},
        name: '{{ name }}'
      };

      if (!document.getElementById('{{ id }}').value) {
        options['default_lon'] = 6.3;
        options['default_lat'] = 46.6;
        options['default_zoom'] = 7;
      }

    {% endblock %}

    var {{ module }} = new MapWidget(options);

    document.querySelector("#{{ id }}_clear").addEventListener("click", (e) => {
      e.preventDefault();
      {{ module }}.clearFeatures();
    });

    document.querySelector("#{{ id }}_klm").addEventListener("change", loadKML);

    function loadKML(e) {

      const filePicker = e.target;
      if (!filePicker) {
        return;
      }
      const file = filePicker.files[0];

      if (file) {
        var reader = new FileReader();
        reader.onloadend = () => {
          var kml = new ol.format.KML();
          var features = kml.readFeatures(reader.result);

          if (features.length > 50) {
            alert("Votre fichier dépasse la limite de 50 entités, il n’a pas été importé!");
          } else {
            for (var i = 0; i < features.length; i++) {

              var geomType = features[i].getGeometry().getType();
              if (geomType == "MultiPolygon") {
                var coord = features[i].getGeometry().getCoordinates();
                features[i].getGeometry().setCoordinates(coord, "XY");
                features[i].getGeometry().transform('EPSG:4326', 'EPSG:3857');

              } else {
                /*TODO: better info to the user...*/
                alert("Les géométries autres que MultiPolygon ne sont pas autorisées")
              }
            }
            {{ module }}.featureCollection.extend(features);
          }
        };
        reader.readAsText(file);
      }
    }
  </script>
</div>
